{% extends 'base.html' %}

{% block breadcrumbs %}

{% with post.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
  <li>Теги:</li>
  {% for t in tags %}
  <li><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<ul class="tags-list">
  {% if perms.players.change_player %}
  <li><a href="{% url 'edit_page' post.slug %}">Редактировать</a></li>
  {% endif %}
  {% if perms.players.delete_player %}
  <li><a href="{% url 'delete_page' post.slug %}">Удалить</a></li>
  {% endif %}
</ul>
<h1>{{ post.title }}</h1>
<h4> Клуб: {{ post.club }}</h4>
<h4> Позиция: {{ post.position }}</h4>

{% if post.photo %}
<p><img class="img-article-left" src="{{ post.photo.url }}"></p>
{% endif %}
{{ post.content|linebreaks }}

{% endblock %}